<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened="true" position="start">
    <div class="branding"><img [src]="logo"/> <span></span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <div class="wrapper">

    <mat-toolbar color="primary">
      <button mat-icon-button class="hidden-md-up" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span routerLink="" class="branding spacer hidden-md-up text-center">
          <img [src]="logo"/> {{apiName}}
      </span>
      <span routerLink="" class="branding spacer hidden-sm-down">
          <img [src]="logo"/> {{apiName}}
      </span>

      <button mat-button class="sign-in-button"
              *ngIf="!isAuthenticated"
              (click)="onLoginClick()">
        Sign in
      </button>

      <button *ngIf="isAuthenticated"
              mat-icon-button
              [matMenuTriggerFor]="toolbarUserMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

      <button mat-icon-button routerLink="settings" class="hidden-sm-down">
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-icon-button (click)="onSwaggerInit()">
        <mat-icon class="mat-18">star</mat-icon>
      </button>
      <a matTooltip="Project Github Repository"
         matdTooltipPosition="before"
         mat-icon-button class="link"
         href="https://github.com/tomastrajan/angular-ngrx-material-starter"
         target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>

    </mat-toolbar>

    <div class="content"
         [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-12 signature">
          &#169; {{year}} - David Kwon
          <a matTooltip="Show changelog"
             matTooltipPosition="before"
             href="https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CHANGELOG.md">
            <i class="fa fa-rocket"></i> {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
          </a>
        </div>
      </div>
    </div>

  </div>

</mat-sidenav-container>
